Repository taikoxyz/zkevm-circuits, pull requests merged in 2023-07, with the labels that each got.

#120 Add integration tests to allow loading in Taiko blocks into the circuit
  integration-tests/README.md
  integration-tests/src/integration_test_circuits.rs
  integration-tests/src/lib.rs
  integration-tests/tests/circuit_input_builder.rs
  integration-tests/tests/taiko_circuit_input_builder.rs
  integration-tests/tests/taiko_circuits.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-integration-tests

#102 Recursion PoC
  .gitignore
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/circuit_input_builder/tracer_tests.rs
  bus-mapping/src/circuit_input_builder/transaction.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/taiko_super_circuit.rs
  eth-types/src/geth_types.rs
  mock/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/anchor_tx_circuit.rs
  zkevm-circuits/src/anchor_tx_circuit/dev.rs
  zkevm-circuits/src/anchor_tx_circuit/sign_verify.rs
  zkevm-circuits/src/anchor_tx_circuit/test.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/pi_circuit.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/taiko_aggregation.rs
  zkevm-circuits/src/table/pi_table.rs
  zkevm-circuits/src/taiko_pi_circuit.rs
  zkevm-circuits/src/taiko_super_circuit.rs
  zkevm-circuits/src/taiko_super_circuit/test.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/protocol_instance.rs
Labels: crate-zkevm-circuits, crate-bus-mapping, crate-circuit-benchmarks, crate-eth-types, crate-mock, T-bench

#128 feat: add precompile skeleton
  bus-mapping/src/circuit_input_builder/execution.rs
  bus-mapping/src/circuit_input_builder/input_state_ref.rs
  bus-mapping/src/evm.rs
  bus-mapping/src/evm/opcodes.rs
  bus-mapping/src/evm/opcodes/callop.rs
  bus-mapping/src/evm/opcodes/precompiles.rs
  bus-mapping/src/precompile.rs
  eth-types/src/evm_types.rs
  zkevm-circuits/src/evm_circuit/execution.rs
  zkevm-circuits/src/evm_circuit/execution/callop.rs
  zkevm-circuits/src/evm_circuit/execution/precompiles.rs
  zkevm-circuits/src/evm_circuit/step.rs
  zkevm-circuits/src/evm_circuit/table.rs
  zkevm-circuits/src/evm_circuit/util.rs
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/evm_circuit/util/math_gadget.rs
  zkevm-circuits/src/evm_circuit/util/precompile.rs
Labels: crate-zkevm-circuits, crate-bus-mapping, crate-eth-types
