Repository taikoxyz/zkevm-circuits, pull requests merged in 2023-06, with the labels that each got.

#110 make PCDAggregationCircuit generic for both GWC & SHPLONK
  Cargo.lock
  circuit-benchmarks/Cargo.toml
  circuit-benchmarks/src/super_circuit.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/root_circuit.rs
  zkevm-circuits/src/root_circuit/pcd_aggregation.rs
Labels: crate-zkevm-circuits, crate-circuit-benchmarks, T-bench

#116 Misc small improvements for anchor tx
  zkevm-circuits/src/anchor_tx_circuit.rs
  zkevm-circuits/src/anchor_tx_circuit/sign_verify.rs
  zkevm-circuits/src/anchor_tx_circuit/test.rs
Labels: crate-zkevm-circuits

#117 Blockhash: some refactoring
  zkevm-circuits/src/evm_circuit/util/constraint_builder.rs
  zkevm-circuits/src/pi_circuit2.rs
Labels: crate-zkevm-circuits

#105 feat: add anchor transaction circuit
  Cargo.lock
  gadgets/src/is_equal.rs
  gadgets/src/lib.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/anchor_tx_circuit.rs
  zkevm-circuits/src/anchor_tx_circuit/dev.rs
  zkevm-circuits/src/anchor_tx_circuit/sign_verify.rs
  zkevm-circuits/src/anchor_tx_circuit/test.rs
  zkevm-circuits/src/lib.rs
  zkevm-circuits/src/pi_circuit2.rs
  zkevm-circuits/src/table.rs
  zkevm-circuits/src/table/byte_table.rs
  zkevm-circuits/src/table/pi_table.rs
  zkevm-circuits/src/table/tx_table.rs
  zkevm-circuits/src/tx_circuit.rs
  zkevm-circuits/src/util.rs
  zkevm-circuits/src/witness.rs
  zkevm-circuits/src/witness/block.rs
  zkevm-circuits/src/witness/taiko.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits, crate-gadgets

#119 Fix most problems on main
  zkevm-circuits/src/anchor_tx_circuit/dev.rs
  zkevm-circuits/src/anchor_tx_circuit/sign_verify.rs
  zkevm-circuits/src/pi_circuit/test.rs
  zkevm-circuits/src/witness/tx.rs
Labels: crate-zkevm-circuits

#118 Blockhash: Some code refactoring
  zkevm-circuits/src/pi_circuit2.rs
Labels: crate-zkevm-circuits
