Repository taikoxyz/zkevm-circuits, pull requests merged in 2023-10, with the labels that each got.

#159 [invalid tx] Write tx id and revert state circuit changes
  bus-mapping/src/evm/opcodes/invalid_tx.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/evm_circuit/execution/invalid_tx.rs
  zkevm-circuits/src/state_circuit.rs
  zkevm-circuits/src/state_circuit/constraint_builder.rs
  zkevm-circuits/src/witness/rw.rs
Labels: crate-zkevm-circuits, crate-bus-mapping

#160 Add circuits for a6 release
  Cargo.lock
  bus-mapping/src/circuit_input_builder.rs
  bus-mapping/src/circuit_input_builder/protocol_instance.rs
  bus-mapping/src/evm/opcodes/begin_end_tx.rs
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/taiko_super_circuit.rs
  integration-tests/Cargo.toml
  integration-tests/src/integration_public_data_circuits.rs
  integration-tests/src/lib.rs
  mock/src/anchor.rs
  mock/src/lib.rs
  testool/Cargo.toml
  testool/src/lib.rs
  testool/src/main.rs
  testool/src/statetest/mod.rs
  testool/src/statetest/parse.rs
  testool/src/statetest/results.rs
  testool/src/statetest/spec.rs
  testool/src/statetest/yaml.rs
  testool/src/utils.rs
  zkevm-circuits/src/evm_circuit/execution/end_tx.rs
  zkevm-circuits/src/taiko_pi_circuit.rs
  zkevm-circuits/src/taiko_super_circuit.rs
  zkevm-circuits/src/taiko_super_circuit/test.rs
  zkevm-circuits/src/witness/block.rs
Labels: crate-zkevm-circuits, crate-bus-mapping, crate-circuit-benchmarks, crate-integration-tests, crate-mock, T-bench

#163 For a6 release
  circuit-benchmarks/src/lib.rs
  circuit-benchmarks/src/taiko_super_circuit.rs
  integration-tests/src/integration_public_data_circuits.rs
  zkevm-circuits/Cargo.toml
  zkevm-circuits/src/taiko_super_circuit.rs
Labels: crate-zkevm-circuits, crate-circuit-benchmarks, crate-integration-tests, T-bench

#166 Adds Graphana dashboard for integration tests
  .github/integrationBenchScripts/07_execBench.sh
  .github/integrationBenchScripts/08_processResults.sh
  .github/integrationBenchScripts/cloud-tests-local-trigger.sh
  .github/integrationBenchScripts/cloud-tests-trigger.sh
  .github/integrationBenchScripts/github-action-trigger.sh
  .github/integrationBenchScripts/reporting_main.py
  .github/integrationBenchScripts/reporting_modules.py
  .github/integrationBenchScripts/run.sh
  .github/integrationBenchScripts/sadf.sh
  .github/weeklyBenchScripts/01_installDeps.sh
  .github/workflows/integration-bench.yml
Labels: CI
